In [1]:
import pandas as pd
from spmf import Spmf

The input file format is defined as follows. It is a text file where each line represents a sequence from a sequence database. Each item from a sequence is separated by single space and a -1. The value "-2" indicates the end of a sequence (it appears at the end of each line). For example, the input file "contextCPT.txt" contains the following four lines (four sequences).

1 -1 2 -1 3 -1 4 -1 6 -1 -2
4 -1 3 -1 2 -1 5 -1 -2
5 -1 1 -1 4 -1 3 -1 2 -1 -2
5 -1 7 -1 1 -1 4 -1 2 -1 3 -1 -2

In [2]:
df = pd.read_csv('./data/sample.csv',sep=';')

In [3]:
df.head()

,PARCOURS_BENEF_ID,BENEFICIAIRE_NUM_PERS_RFM,PARCOURS_BENEF
0,23|26|23|13,13342,PH_65|PH_Autr|PH_Autr|Med_Gen
1,13|03|07|13|03|13,73035,Med_Gen|Bio|Inf|Med_Gen|Bio|Med_Gen
2,17|18|13|26,16260,Med_Spe|Med_Dou|Med_Gen|PH_65
3,26|26|23|26|26|11|13|17|26|26|26|26|26|13|26,13392,PH_65|PH_65|PH_Autr|PH_65|PH_65|Med_Chi|Med_Ge...
4,26|23|07|23,48686,PH_65|PH_Autr|Inf|PH_Autr

In [4]:
seqs = df['PARCOURS_BENEF_ID']
seqs

0                                            23|26|23|13
1                                      13|03|07|13|03|13
2                                            17|18|13|26
3           26|26|23|26|26|11|13|17|26|26|26|26|26|13|26
4                                            26|23|07|23
                             ...
995    17|13|17|23|26|13|17|15|17|26|06|11|17|26|17|2...
996                                       19|23|26|23|11
997    09|26|11|26|09|26|09|13|23|26|08|08|08|08|08|0...
998                        23|09|23|26|06|19|23|26|11|11
999                                          13|17|13|09
Name: PARCOURS_BENEF_ID, Length: 1000, dtype: object

In [5]:
with open('./data/train.txt','w') as f:
    for idx,row in seqs.items():
        seq = row.replace('|',' -1 ')
        seq = seq + ' -2\n'
        f.write(seq)

In [8]:
spmf = Spmf("PrefixSpan", input_filename="./data/train.txt",
            output_filename="./data/output.txt", arguments=[0.25,5], spmf_bin_location_dir="./spmf")
spmf.run()
print(spmf.to_pandas_dataframe(pickle=True))
spmf.to_csv("./data/output.csv")

>/C:/MY_DATAS/MyGIT/Sequence_pattern/spmf/spmf.jar
=============  PREFIXSPAN 0.99-2016 - STATISTICS =============
 Total time ~ 95 ms
 Frequent sequences count : 81
 Max memory (mb) : 14.41552734375
 minsup = 250 sequences.
 Pattern count : 81
===================================================


             pattern  sup
0                [3]  371
1            [3, 26]  306
2                [7]  266
3                [9]  252
4               [11]  286
..               ...  ...
76      [26, 13, 23]  302
77  [26, 13, 23, 26]  283
78      [26, 13, 26]  373
79  [26, 13, 26, 26]  303
80      [26, 13, 13]  282

[81 rows x 2 columns]