Generic imports

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
data = pd.read_csv('./data/sample.csv',sep=';')
data.head()

,BNP,BENEFICIAIRE_AGE,BENEFICIAIRE_SEXE,BENEFICIAIRE_DEPARTEMENT,DATE_DEBUTSOINS,DATE_FINSOINS,LISTE_ACTES_EXT,NB_ACTES,NB_ACTES_DIFF
0,31856,94,F,75,27/03/2018,27/03/2018,IFA|AMS,2,2
1,9890,45,F,77,20/04/2018,20/04/2018,ATM,1,1
2,24301,87,F,06,21/03/2017,21/03/2017,IFA|AMI|V|MD,4,4
3,47588,49,M,77,23/12/2017,23/12/2017,B|AMI|MAU,3,3
4,38560,34,F,91,02/10/2017,02/10/2017,HD7|PH7,2,2

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   BNP                       100000 non-null  int64
 1   BENEFICIAIRE_AGE          100000 non-null  int64
 2   BENEFICIAIRE_SEXE         100000 non-null  object
 3   BENEFICIAIRE_DEPARTEMENT  100000 non-null  object
 4   DATE_DEBUTSOINS           100000 non-null  object
 5   DATE_FINSOINS             100000 non-null  object
 6   LISTE_ACTES_EXT           100000 non-null  object
 7   NB_ACTES                  100000 non-null  int64
 8   NB_ACTES_DIFF             100000 non-null  int64
dtypes: int64(4), object(5)
memory usage: 6.9+ MB

In [4]:
# Parameters
history_depth = 3

In [5]:
new = []

keep=['BENEFICIAIRE_AGE','BENEFICIAIRE_SEXE','BENEFICIAIRE_DEPARTEMENT']
for idx,row in data.iterrows():
    
    X=[row[c] for c in keep]

    seq = row['LISTE_ACTES_EXT'].split('|')
    for i in range(history_depth):
        seq = ['0'] + seq
    seq = seq + ['0']
    
    for x in range(len(seq)-history_depth):
        Z = [i for i in seq[x:x+history_depth+1]]
        W = X+Z
        new.append(W)

In [6]:
cols = keep + ['X%i' % i for i in range(history_depth)] + ['Y']
df = pd.DataFrame(new,columns=cols)

In [7]:
df

,BENEFICIAIRE_AGE,BENEFICIAIRE_SEXE,BENEFICIAIRE_DEPARTEMENT,X0,X1,X2,Y
0,94,F,75,0,0,0,IFA
1,94,F,75,0,0,IFA,AMS
2,94,F,75,0,IFA,AMS,0
3,45,F,77,0,0,0,ATM
4,45,F,77,0,0,ATM,0
...,...,...,...,...,...,...,...
436781,53,M,62,HD7,PH7,HD7,PH7
436782,53,M,62,PH7,HD7,PH7,PH4
436783,53,M,62,HD7,PH7,PH4,HD4
436784,53,M,62,PH7,PH4,HD4,HG7
436785,53,M,62,PH4,HD4,HG7,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436786 entries, 0 to 436785
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   BENEFICIAIRE_AGE          436786 non-null  int64
 1   BENEFICIAIRE_SEXE         436786 non-null  object
 2   BENEFICIAIRE_DEPARTEMENT  436786 non-null  object
 3   X0                        436786 non-null  object
 4   X1                        436786 non-null  object
 5   X2                        436786 non-null  object
 6   Y                         436786 non-null  object
dtypes: int64(1), object(6)
memory usage: 23.3+ MB

In [9]:
# create ACTES dictionnary for data encoding

cat = pd.unique(df['Y'])
nb_cat = len(cat)
cat_to_int = dict((c, i) for i, c in enumerate(cat))

In [10]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,dframe,y=None):
        cat = pd.unique(dframe['Y'])
        nb_cat = len(cat)
        cat_to_int = dict((c, i) for i, c in enumerate(cat))
        self.dict = cat_to_int
        return self

    def transform(self,dframe):
        output = dframe.copy()
        if self.columns is not None:
            for col in self.columns:
#                 output[col] = LabelEncoder().fit_transform(output[col])
                output[col] = [self.dict[i] for i in output[col]]
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,dframe,y=None):
        return self.fit(dframe,y).transform(dframe)

In [11]:
df2 = MultiColumnLabelEncoder(columns=['X0','X1','X2','Y']).fit_transform(df)

In [12]:
from sklearn.preprocessing import LabelEncoder

encode_s = LabelEncoder()
df2['BENEFICIAIRE_SEXE']=encode_s.fit_transform(df2['BENEFICIAIRE_SEXE'])

In [13]:
df2 = df2[df2['BENEFICIAIRE_DEPARTEMENT']!='@  ']
df2['BENEFICIAIRE_DEPARTEMENT'] = df2['BENEFICIAIRE_DEPARTEMENT'].astype('int64')

In [14]:
pd.unique(df2['BENEFICIAIRE_DEPARTEMENT'])

array([ 75,  77,   6,  91,   1,  92,  56,  94,  17,  38,   2,  16,  54,
        13,  83,  35,  31,  41,  44,  69,  21,  66,  78,  76,  20,  33,
        30,  50,  26,  93,  57,  59,  28,  60,  62,   4,  49,  72,  84,
        67,  23,  85,  10,  45,   7,  70,  73,  25,  79,  14,   5,  27,
         8,  24,  34,  40,  36,  95,  80,  42,  55,  47,  87,  37,  29,
        86,  12,  64,  89,  88,  74,   3,  39,  22,  81,  63,  68,  71,
         9,  18,  82,  11,  52,  53,  51,  19,  90,  48,  65,  46,  58,
        43,  32,  61, 971,  15, 974, 973, 972, 980], dtype=int64)

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 436584 entries, 0 to 436785
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   BENEFICIAIRE_AGE          436584 non-null  int64
 1   BENEFICIAIRE_SEXE         436584 non-null  int32
 2   BENEFICIAIRE_DEPARTEMENT  436584 non-null  int64
 3   X0                        436584 non-null  int64
 4   X1                        436584 non-null  int64
 5   X2                        436584 non-null  int64
 6   Y                         436584 non-null  int64
dtypes: int32(1), int64(6)
memory usage: 25.0 MB

In [16]:
df2

,BENEFICIAIRE_AGE,BENEFICIAIRE_SEXE,BENEFICIAIRE_DEPARTEMENT,X0,X1,X2,Y
0,94,1,75,2,2,2,0
1,94,1,75,2,2,0,1
2,94,1,75,2,0,1,2
3,45,1,77,2,2,2,3
4,45,1,77,2,2,3,2
...,...,...,...,...,...,...,...
436781,53,2,62,9,10,9,10
436782,53,2,62,10,9,10,11
436783,53,2,62,9,10,11,12
436784,53,2,62,10,11,12,25
436785,53,2,62,11,12,25,2

In [17]:
from sklearn.model_selection import train_test_split

X=df2.drop(labels='Y', axis=1)
Y=df2['Y']

# Create train and test sets
xtrain,xtest,ytrain,ytest= train_test_split(X,Y,test_size=0.2,random_state=37)

In [18]:
from sklearn.preprocessing import StandardScaler

# Scale x data
scaler = StandardScaler()
scaler.fit(xtrain)

xtrain_s = scaler.transform(xtrain)
xtest_s = scaler.transform(xtest)

In [19]:
xtrain_s

array([[-0.38046649,  0.97602668, -0.50474226, -0.38575753, -0.47596209,
        -0.59877022],
       [-1.53440611, -1.00323345,  0.08838472, -0.38575753, -0.47596209,
        -0.59877022],
       [ 0.15529119, -1.00323345,  0.4838027 ,  0.20792972,  1.43478455,
         0.9572371 ],
       ...,
       [ 0.52620035,  0.97602668, -0.24113027, -0.38575753, -0.47596209,
         1.46065123],
       [-1.03986056,  0.97602668,  0.59364103, -0.38575753, -0.47596209,
        -0.64453514],
       [-0.29804223,  0.97602668, -0.50474226,  2.05495672,  0.9434497 ,
         0.59111773]])

In [20]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB

classifs = [KNeighborsClassifier(),
           DecisionTreeClassifier(random_state=37),
#            SVC(),
           RandomForestClassifier(random_state=37),
#            AdaBoostClassifier(random_state=37),
           GaussianNB(),
           ]

classif_names=['KNN\t\t', 
               'DecisionTree\t', 
#                'SVC\t\t',
               'RandomForest\t',
#                'AdaBoost\t',
               'Naive Bayes\t',
               ]

# Apply different classifiers
bestscore=0
bestclf =''
for name, clf in zip(classif_names, classifs):
    classif = clf.fit(xtrain, ytrain)
    
    score1 = classif.score(xtest_s, ytest)*100
    print("%s Score : %.2f %%" % (name, score1))
    if score1 > bestscore:
        bestscore = score1
        ypred = classif.predict(xtest)
        bestclf = name

KNN		 Score : 5.34 %
DecisionTree	 Score : 19.84 %

MemoryError: could not allocate 597688320 bytes